body {
	margin: 0 auto;
	max-width:900px;
}

#topnav {
	font-family: helvetica,arial,sans-serif;
	font-size: 10pt;
	padding: 0;
	width:100%;	
	margin: 10px 0;
}

	#topnav ul {
		list-style: none;
		padding:0;
	}

	#topnav ul li {
		float:left;
		width:24%;
	}

	#topnav ul li a {
		display:block;
		text-align: center;
		padding:15px 0;
		width:100%;
			/* GRADIENT:   */
			background: #000; /* Old browsers */
	      background: -moz-linear-gradient(top,  
	        #555 0%, #000 100%); /* FF3.6+ */
	      background: -webkit-gradient(linear, left top, left bottom, 
	        color-stop(0%,#555), 
	        color-stop(100%,#000)); /* Chrome,Safari4+ */
	      background: -webkit-linear-gradient(top,  
	        #555 0%,#000 100%); /* Chrome10+,Safari5.1+ */
	      background: -o-linear-gradient(top,  
	        #555 0%,#000 100%); /* Opera 11.10+ */
	      background: linear-gradient(to bottom,  
	        #555 0%,#000 100%); /* W3C, IE10+ */
	      filter: progid:DXImageTransform.Microsoft.gradient( 
	        startColorstr='#555', 
	        endColorstr='#000',GradientType=0 ); /* IE6-9 */  
	}

	#topnav ul li a,
    #topnav ul li a:focus,
    #topnav ul li a:visited,
    #topnav ul li a:hover,
    #topnav ul li a:active,
    #topnav ul li a.active {
    	color: #ccc;
    	text-decoration: none;
    }


	#topnav ul li a:hover,
    #topnav ul li a:active,
    #topnav ul li a.active {
    	background: none;
    	background-color: #555;
    }

    #topnav ul li a.active {
    	color:white;
    }

    #topnav ul li:first-child a {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px; }
    #topnav ul li:last-child a {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px; }


    #topnav ul li:not(:last-child) {
    	border-right: 2px #666 solid;
    }



    /* MODAL: */
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}