.app-views {
	margin: 15px;
	min-width: 370px;
}

h1 {
	margin-left:25px;
}

.add-button{
	float:right;
	margin-right: 15px;
}

.app-box {
	box-shadow: 3px 3px 8px 0 #999;
	margin:15px;
	min-width:230px;
	display: inline-block;
}





.app-box .topbanner {
	height:30px;
	text-align: right;

	background: rgba(235,235,235,1);
	background: -moz-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(232,232,232,1) 34%, rgba(209,209,209,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,235,235,1)), color-stop(34%, rgba(232,232,232,1)), color-stop(100%, rgba(209,209,209,1)));
	background: -webkit-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(232,232,232,1) 34%, rgba(209,209,209,1) 100%);
	background: -o-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(232,232,232,1) 34%, rgba(209,209,209,1) 100%);
	background: -ms-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(232,232,232,1) 34%, rgba(209,209,209,1) 100%);
	background: linear-gradient(to bottom, rgba(235,235,235,1) 0%, rgba(232,232,232,1) 34%, rgba(209,209,209,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#d1d1d1', GradientType=0 );
}

.app-box .topbanner .btn {
	font-size: 10pt;
	font-family: Tahoma;
	text-align: center;
	overflow: hidden;
	margin: 3px;
}

.app-box .topbanner .minimisebut {
	width: 1.7em;
	height: 1.7em;
}

	 .topbanner .btn-group .dropdown-menu {
	 	font-size: 8pt;
	 	min-width: 100px;
	}






.app-box .boxbanner {
	background-color: #ddd;
	padding:3px;
	font-weight: bold;
	color: #666;
}

.app-box .boxfooter {
	background-color: #eee;
	color: #666;
	padding: 3px;
	font-size: 8pt;
}



.app-box .boxbanner .titlelabel {
	float: left;
}

.app-box .boxbanner .title {
	color:#777;
}




.app-box .boxbanner .expire {
	font-size: 10px;
	color: #777;
}
.app-box .text {
	padding:10px;
	min-height: 150px;
	min-width:100%;
	border: none;
}




#datetimepicker1 {
	width:300px;
	padding:0 12px;

}